<div class="contenedor">
    <mat-card>

      <div class="img-profile">
        <img class="img-user" src="{{technician.imageUrl}}" alt="">
      </div>

      <div class="datos">
        <div>
          <h3>Nombre</h3>
          <h4>{{technician.firstName}}</h4>
        </div>

        <div>
          <h3>Apellidos</h3>
          <h4>{{technician.lastName}}</h4>
        </div>

        <div>
          <h3>Celular</h3>
          <h4>{{technician.phoneNumber}}</h4>
        </div>

        <div>
          <h3>Correo</h3>
          <h4>{{technician.user.email}}</h4>
        </div>

        <div>
            <h3>Especialidades</h3>
            <li *ngFor="let spc of technician.technicianSpecialties">
              {{spc.specialty.name}}
            </li>
        </div>




      </div>
    </mat-card>
  </div>


