
<div class="container cabecera">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <img class="logo" src="../../../assets/img/avatar.png" alt="">
          <span class="app-name">DHome Technical</span>
          

          <div routerLinkActive="active" *ngIf="metadata">
            <a mat-button  (click)="toHomePage()">Inicio</a>
            <a mat-button  [routerLink]="'/customers'" *ngIf="metadata.usertype == 2">Clientes</a>
            <a mat-button  [routerLink]="'/employees'" *ngIf="metadata.usertype == 1">Técnicos Especialistas</a>
            <a mat-button  [routerLink]="'/profile'">Perfil</a>
            <a mat-button  [routerLink]="'/questions'"> Preguntas frecuentes</a>
            <a mat-button  [routerLink]="'/recommendations'"> Recomendaciones</a>
        
          </div>
          <span class="flex-expand"></span>
          
          <div *ngIf="metadata">
            <button mat-button (click)="logout()">LogOut</button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
</div>
