<app-header></app-header>

<div class="citas">
    <div class="container cabecera">
        <mat-toolbar color="primary" class="mt-5">
            <h1>Mis citas</h1>
        </mat-toolbar>
        
    </div>
    
    <div class="tabla-citas">
      <mat-progress-bar *ngIf="progress_bar" mode="query" color="warn"></mat-progress-bar>
        <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> <p class="ellipsis"><b> {{element.employee.firstName}}</b> </p> </td>
            </ng-container>
          
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef> Apellidos </th>
              <td mat-cell *matCellDef="let element" [matTooltip]="element.titulo"> <p class="ellipsis"> <b >{{element.employee.lastName}}</b></p></td>
            </ng-container>

            <ng-container matColumnDef="specialty">
              <th mat-header-cell *matHeaderCellDef> Especialidad </th>
              <td mat-cell *matCellDef="let element" [matTooltip]="element.titulo"> <p class="ellipsis"> <b >{{element.employee.specialty.name}}</b></p></td>
            </ng-container>
          
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>Día de la cita </th>
              <td mat-cell *matCellDef="let element"> <p class="ellipsis"><b> {{element.appointmentDate}}</b> </p>  </td>
            </ng-container>
          
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let element"> <p> <b> {{element.address}}</b> </p>  </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> 
                    <p class="ellipsis"><b>{{element.status}}</b></p>
                </td>
              </ng-container>
    
            <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Más detalles </th>
            <td mat-cell *matCellDef="let element; let i = index;">
          
              <button (click)="verDetalles(element)" mat-raised-button color=primary >
                <span class="material-icons"> info </span>
              </button>
            </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  
    </div>
</div>
