

<app-header></app-header>

<div class="preguntas">
    <div class="container cabecera">
        <mat-toolbar color="primary" class="mt-5">
            <h1>Preguntas Frecuentes</h1>
        </mat-toolbar>
        <details>
            <summary>¿Cómo puedo agendar una cita con un técnico especialista?</summary>
            <div>
                <p>Realizar una cita con un técnico es muy sencillo, para ello
                    solo debes dirigirte a la ventana de "Employees" en la parte superior 
                    y seleccionar el trabajador de tu preferencia :) .
                </p>
            </div>
        </details>
        <details>
            <summary>¿Tengo manera de comunicarme con un técnico vía WhatsApp o Telegram?</summary>
            <div>
                <p>Sí, con la nueva actualización ahora puedes 
                    comunicarte con un técnico especialista vía WhatsApp o Telegram.</p>
            </div>
        </details>
        <details>
            <summary>¿Dónde puedo ver las citas que tengo?</summary>
            <div>
                <p>Para poder visualizar tus citas debes ir a la pestaña "Home". De esta manera, podrás revisar la cita a detalle
                    y enviarle un mensaje a tu técnico especialista.
                </p>
            </div>
        </details>
        <details>
            <summary>¿Puedo crear una cuenta con el mismo nombre de usuario?</summary>
            <div>
                <p>En este caso, no es posible, puesto que cada usuario es único en
                    nuestra plataforma.
                </p>
            </div>
        </details>
        <details>
            <summary>¿Cómo puedo enviarle un mensaje a un técnico especialista?</summary>
            <div>
                <p>En detalles de una cita, podrás encontrar los diferentes  tipos de redes, en el cual
                    podrás contactar a tu técnico.</p>
            </div>
        </details>
        
    </div>
</div>