<div class="contenedor">
  <mat-card>
    
    <div class="img-profile">
      <img class="img-user" src="../../../assets/img/user-1633249_1280-768x749.png" alt="">
    </div>
    
    <div class="datos">
      <div>
        <h3>Firstname</h3>
        <h4>{{customer.firstName}}</h4>
      </div>

      <div>
        <h3>Lastname</h3>
        <h4>{{customer.lastName}}</h4>
      </div>

      <div>
        <h3>Cellphone</h3>
        <h4>{{customer.cellphone}}</h4>
      </div>

      <div>
        <h3>Email</h3>
        <h4>{{customer.email}}</h4>
      </div>

      <div>
        <h3>City</h3>
        <h4>{{customer.district.city.name}}</h4>
      </div>

      <div>
        <h3>District</h3>
        <h4>{{customer.district.name}}</h4>
      </div> 


      <div>
        <h3>Dni</h3>
        <h4>{{customer.dni}}</h4>
      </div>


      

    </div>
  </mat-card>
</div>


