<div class="contenedor">
  <mat-card>
    
    <div class="img-profile">
      <img class="img-user" src="{{customer.imageUrl}}" alt="">
    </div>
    
    <div class="datos">
      <div>
        <h3>Firstname</h3>
        <h4>{{customer.firstName}}</h4>
      </div>

      <div>
        <h3>Lastname</h3>
        <h4>{{customer.lastName}}</h4>
      </div>

      <div>
        <h3>Cellphone</h3>
        <h4>{{customer.phoneNumber}}</h4>
      </div>

      <div>
        <h3>Email</h3>
        <h4>{{customer.user.email}}</h4>
      </div>     

    </div>
  </mat-card>
</div>


