<div>
    <h1>Create Appointment with {{data.firstName}} {{data.lastName}}</h1>
  
    <mat-progress-bar *ngIf="progress_bar" mode="query"></mat-progress-bar>
  
    <div>
        <form class="formulario" [formGroup]="appointmentForm">

            <mat-form-field appearance="fill">
                <mat-label>Día de la cita</mat-label>
                <input matInput formControlName="appointmentDate" type="datetime-local" placeholder="start date">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <input  matInput placeholder="Ingresa una descripcion" formControlName="description">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Método de pago</mat-label>
                <mat-select formControlName="paymentMethod">
                  <mat-option *ngFor="let pms of listPMethods" [value]="pms.paymentMethodId">
                    {{pms.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <button (click)="crearAppointment()" [disabled]="appointmentForm.invalid" class="button-login" style="grid-column: 1/3;" mat-raised-button color="primary">
                CREAR
            </button>
    
        </form>
    
    </div>

</div>

