<app-header></app-header>

<div class="contenedor">
    <div class="header-contenedor">
        <div>
            <h1>Técnicos Especialistas</h1>
        </div>
        <div>
          <form [formGroup]="specialtyFormGroup">
            <mat-form-field style="width:250px">
              <mat-label>Filtrar por Especialidad</mat-label>
              <mat-select formControlName="specialty" (selectionChange)="filtrarPorEspecialidad($event)">
                <mat-option *ngFor="let spe of specialties" [value]="spe.id">
                  {{spe.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>


    </div>
    <mat-progress-bar *ngIf="progress_bar" mode="query"></mat-progress-bar>
    <div class="body-contenedor">

        <div class="card-customer" *ngFor="let technician of listTechnicians">
            <mat-card class="example-card" >
                <mat-card-content>
                  <mat-card-title>{{technician.firstName}} {{technician.lastName}}</mat-card-title>
                  <mat-card-subtitle>
                    <li *ngFor="let spc of technician.technicianSpecialties">
                      {{spc.specialty.name}}
                    </li>
                  </mat-card-subtitle>
                  <img mat-card-image src={{technician.imageUrl}} >
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button (click)="abrirModalDetail(technician)" color="primary">Detalles</button>
                  <button mat-raised-button (click)="abrirModalCreateAppo(technician)" color="success">Contratar</button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>

</div>
