body {
    margin: 0;
    font-family: "Poppins";
}

.mb-3 {
    margin-bottom: 3em;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #6DD6DD;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 18px 34px;
    border: 0;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
}

.btn:hover {
    background: white;
    color: #2C2C2C;
    transition: 0.5s;
}

.sidebar {
    background-color: #6DD6DD;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3;
}

.sidebar .sidebar-item {
    color: white;
    font-size: 1em;
    font-weight: 700;
    margin: 0 auto;
    padding: 20px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
}

.sidebar .sidebar-item:hover {
    background-color: white;
    color: #2C2C2C;
}

.sidebar .close {
    color: #2C2C2C;
    display: none;
    font-size: 1em;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 30px;
}

.sidebar .close:hover {
    color: #6DD6DD;
}

.open {
    color: #6DD6DD;
    display: none;
    font-size: 1em;
    position: absolute;
    right: 12%;
    padding: 10px;
    top: 0;
    z-index: 2;
}

#home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url(../../../assets/img/fondos/fondo-intro.png);
    background-position: center center;
    background-size: cover;
}

#home .header-title {
    width: 70%;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #2C2C2C;
}

#about, #contacta{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
    padding: 4em;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    width: 40%;
}

.section-img {
    width: 40%;
}

.section-title {
    font-size: 2.5em;
    color: #2C2C2C;
}

#services, #contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#F0F0F0;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    text-align: left;
}

.ccontainer {
    width: 50%;
    padding: 4em;
}

.form-input {
    display: block;
    margin-top: 1em;
    padding: 1em;
    width: 97%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #2C2C2C;
    font-family: Poppins;
    color: #2C2C2C;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.icon {
    text-decoration: none;
    background-color: #2C2C2C;
    border-radius: 2em;
    color: white;
    padding: 1em;
    margin-inline: 0.5em;
    transition-duration: 0.4s;
    transition-property: transform;
}

.icon-f {
    padding-inline: 1.1em;
}

.bar {
    width: 100%;
    background-color: #2C2C2C;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 375px) and (max-width: 410px) {

    #about .container .about-content {
        text-align: justify;
        column-count: 1;
        margin: 20px auto;
        line-height: 1.7em;
        width: 75%;
    }
    #contact .container form {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    #contact .container form .form-input {
        background-color: #ffffff44;
        border: 0;
        border-bottom: 1px solid #fff;
        border-radius: 10px;
        color: #000;
        display: block;
        margin: 10px;
        padding: 10px;
        width: 100%;
    }

    #contact .container form .form-button {
        border: 3px solid #3e34cc88;
        border-radius: 10px;
        display: block;
        background-color: white;
        padding: 20px;
        margin: 0 10px;
        width: 100%;
        color: #3e34cc88;
        text-transform: uppercase;
        font-size: .8em;
    }
}

@media only screen and (min-width: 411px) and (max-width: 767px) {

    .sidebar {
        background-color: darkblue;
        height: 100%;
        padding-top: 40px;
        position: fixed;
        overflow-x: hidden;
        text-align: center;
        top: 0;
        transition: .5s;
        width: 0;
        z-index: 3;
    }
    .sidebar .sidebar-item {
        padding: 10px 0;
        margin: 0 auto;
        text-decoration: none;
        color: #fff;
        font-size: .8em;
        text-transform: uppercase;
        display: block;
        transition: .5s;
    }

    .sidebar .close {
        display: block;
        z-index: 3;
    }

    .open {
        display: block;
        font-size: 1em;
        z-index: 2;
    }

    #home .avatar {
        width: 75%;
    }

    #about .container .about-content {
        text-align: justify;
        column-count: 1;
        margin: 20px auto;
        line-height: 1.7em;
        width: 75%;
    }

    #contact .container form {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    #contact .container form .form-input {
        background-color: #ffffff44;
        border: 0;
        border-bottom: 1px solid #fff;
        border-radius: 10px;
        color: #000;
        display: block;
        margin: 10px;
        padding: 10px;
        width: 100%;
    }

    #contact .container form .form-button {
        border: 3px solid #3e34cc88;
        border-radius: 10px;
        display: block;
        background-color: #000;
        padding: 20px;
        margin: 0 10px;
        width: 100%;
        color: #3e34cc88;
        text-transform: uppercase;
        font-size: .8em;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .sidebar {
        background-color: darkblue;
        height: 100%;
        padding-top: 40px;
        position: fixed;
        overflow-x: hidden;
        text-align: center;
        top: 0;
        transition: .5s;
        width: 0;
        z-index: 3;
    }

    .sidebar .sidebar-item {
        padding: 10px 0;
        margin: 0 auto;
        text-decoration: none;
        color: #fff;
        font-size: .8em;
        text-transform: uppercase;
        display: block;
        transition: .5s;
    }

    .sidebar .close {
        display: block;
        z-index: 3;
    }

    .open {
        display: block;
        font-size: 1em;
        z-index: 2;
    }

    #home .avatar {

        width: 300px;
    }
}