<div class="contenedor">
    <div class="header">
        <h1>Detalles de la cita</h1>
    </div>
    <div class="appointment-details">
        <div class="subtitle-appointment">
            <h2>Cita</h2>
        </div>
        <div class="appointment-content">
            <div>
                <h3 class="atributes">Dirección</h3>
                <h4>{{data.address}}</h4>
            </div>
    
            <div>
                <h3 class="atributes">Día de la cita</h3>
                <h4>{{data.appointmentDate}}</h4>
            </div>
    
            <div>
                <h3 class="atributes">Descripción</h3>
                <h4>{{data.description}}</h4>
            </div>
    
            <div>
                <h3 class="atributes">Estado</h3>
                <h4>{{data.status}}</h4>
            </div>
    
            <div>
                <h3 class="atributes">Método de pago</h3>
                <h4>{{data.paymentMethod.paymentMethod}}</h4>
            </div>
        </div>
    </div>
    <div class="customer-details">
        <div class="subtitle-customer">
            <h2>Datos del cliente</h2>
        </div>

        <div class="customer-content">
            <div>
                <h3 class="atributes">Nombre</h3>
                <h4>{{data.customer.firstName}}</h4>
            </div>
    
            <div>
                <h3 class="atributes">Apellidos</h3>
                <h4>{{data.customer.lastName}}</h4>
            </div>

            <div>
                <h3 class="atributes">Correo</h3>
                <h4>{{data.customer.email}}</h4>
            </div>

            <div>
                <h3 class="atributes">DNI</h3>
                <h4>{{data.customer.dni}}</h4>
            </div>

            <div>
                <h3 class="atributes">Ciudad</h3>
                <h4>{{data.customer.district.city.name}}</h4>
            </div>

            <div>
                <h3 class="atributes">Distrito</h3>
                <h4>{{data.customer.district.name}}</h4>
            </div>

        </div>
        

       
        

    </div>
    

</div>

<!-- <button (click)="console()" mat-raised-button color=primary >Aqui p varon</button> -->

