.formulario{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

mat-form-field{
    width: 100%;
}

.button-login{
    /* margin-left: 80%; */
}

.header-form{
    margin-bottom: 20px;
}

.logo{
    width: 220px;
    height: 170px;
}

.form-login{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}