.contenedor{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}
.img-profile{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.button-editar{
    height: 45px;
    border-radius: 50px;
}
.img-user{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

h3{
    font-size: 20px;
    background-color: #F1F2F8;
    
}

.datos{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
}