<app-header></app-header>
<div>
    <div class="contenedor" *ngIf="user">
      <mat-progress-bar *ngIf="progress_bar" mode="query"></mat-progress-bar>
      <mat-card>
       
        <div class="img-profile">
          <img class="img-user" src={{user.imageUrl}} alt="">
          <button (click)="abrirModalEditar()" class="button-editar" mat-raised-button color="primary"><span class="material-icons">
            edit
            </span></button>
        </div>
        
        <div class="datos">
          <div>
            <h3>Nombre</h3>
            <h4>{{user.firstName}}</h4>
          </div>
  
          <div>
            <h3>Apellidos</h3>
            <h4>{{user.lastName}}</h4>
          </div>

          <div *ngIf="user.description != null">
            <h3>Descripción</h3>
            <h4>{{user.description}}</h4>
          </div>
  
          <div>
            <h3>Celular</h3>
            <h4>{{user.phoneNumber}}</h4>
          </div>
  
          <div>
            <h3>Correo</h3>
            <h4>{{user.email}}</h4>
          </div>

          <div *ngIf="this.metadata.userType != 'Customer'">
            <h3>Especialidades</h3>
              <li *ngFor="let spc of user.specialties">
                <span>{{spc.specialty.name}}</span>
              </li>  
          </div>
  
          <!-- <div>
            <h3>Region</h3>
            <h4>{{user.city}}</h4>
          </div>

          <div>
            <h3>Province</h3>
            <h4>{{user.province}}</h4>
          </div>
  
          <div>
            <h3>Distrito</h3>
            <h4>{{user.district}}</h4>
          </div>

          <div>
            <h3>Calle</h3>
            <h4>{{user.fullAddress}}</h4>
          </div> -->
           
        </div>
      </mat-card>
    </div>
    
    
</div>
