<div>
    <h1>Edit Profile</h1>
    <mat-progress-bar *ngIf="progress_bar" mode="query"></mat-progress-bar>
    <div *ngIf="data.metadata.userType == 'Customer'" >
        <form class="formulario" [formGroup]="editForm">
    
            <mat-form-field appearance="fill">
                <mat-label>Firstname</mat-label>
                <input matInput placeholder="Ingresa tu nombre de usuario" formControlName="firstname">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Lastname</mat-label>
                <input matInput placeholder="Ingresa tu contraseña" formControlName="lastname">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cellphone</mat-label>
                <input  matInput placeholder="Ingresa su numero de celular" formControlName="phoneNumber">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Foto de perfil</mat-label>
              <input matInput placeholder="Ingresa un link" formControlName="imageUrl">
            </mat-form-field>
        </form>

        <mat-toolbar style="background-color:#6DD6DD; height: 48px;" class="mt-5">
          <p class="miniSubtitleLeftStyle">Dirección actual</p>
        </mat-toolbar>
        <br>
        <form class="formulario" [formGroup]="editForm">

            <mat-form-field appearance="fill">
              <mat-label>Región</mat-label>
              <input matInput placeholder="Lima" formControlName="region">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Provincia</mat-label>
              <input matInput placeholder="Lima" formControlName="province">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Distrito</mat-label>
              <input matInput placeholder="Santiago de Surco" formControlName="district">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Calle</mat-label>
              <input matInput placeholder="Av. Brasil 120" formControlName="street">
            </mat-form-field>
            
            <button (click)="editProfile()" [disabled]="false" class="button-login" style="grid-column: 1/3;" mat-raised-button color="primary">
                EDITAR
            </button>
    
        </form>
    
    </div>

    <div *ngIf="data.metadata.userType == 'Technician'">
        <form class="formulario" [formGroup]="editForm">
    
          <mat-form-field appearance="fill">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="Ingresa tu nombre de usuario" formControlName="firstname">
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Ingresa tu contraseña" formControlName="lastname">
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Cellphone</mat-label>
            <input matInput placeholder="Ingresa su numero de celular" formControlName="phoneNumber">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Ingresa una descripción sobre usted" formControlName="description">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Foto de perfil</mat-label>
            <input matInput placeholder="Ingresa un link" formControlName="imageUrl">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Especialidad</mat-label>
            <mat-select placeholder="Especialidades" [formControl]="specialtiesForm" multiple >
              <mat-option *ngFor="let spe of specialties" [value]="spe.id">
                {{spe.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

    
            <button (click)="editProfile()" [disabled]="false" class="button-login" style="grid-column: 1/3;" mat-raised-button color="primary">
                EDITAR
            </button>
    
        </form>
    
    </div>
</div>

